name: notify-po-when-issue-was-create
on:
  issues:
    types: opened

env:
  testMode: false

jobs:
  create_test_issue_folder:
    name: Create Test Issue Folder
    runs-on: ubuntu-latest
    steps:
      - name: "Create Folder"
        run: |
          mkdir testIssue
          cd testIssue

      - name: "Clone repo"
        uses: actions/checkout@v4

      - name: "Condition"
        if: ${{ fromJSON(env.testMode) }}
        run: |
          echo "Open testmode"
          ls

  send_to_po:
    needs: create_test_issue_folder
    name: Send Email to PO
    runs-on: ubuntu-latest
    steps:
      - name: "Send email to PO"
        run: |
          echo "Send Email to PO"

  send_to_dev:
    needs: [create_test_issue_folder, send_to_po]
    name: Send Email to Dev
    runs-on: ubuntu-latest
    if: ${{ fromJSON(env.testMode) }}
    steps:
      - name: "Condition"
        run: |
          echo "Send Email to Dev"
